In [ ]:
import pandas as pd
import numpy as np
import bs4
from openpyxl import load_workbook
from urllib.request import urlopen
import csv

pd.set_option('display.max_rows',500)  #데이터프레임 truncation 방지
class stock_evaluation:

    def get_html(self,jcode):     #재무재표 크롤링
        self.jcode = jcode
        url = 'http://comp.fnguide.com/SVO2/ASP/SVD_main.asp?pGB=1&gicode=A%s' % jcode
        html = urlopen(url).read()
        html = bs4.BeautifulSoup(html,'lxml')
        table = html.find('div',{'id':'highlight_D_Y'})
        crt_data = html.find('div',{'id':'corp_group2'}).find_all('dl')
        self.crt_PER = crt_data[0].find_all('dd')[1].text   #PER
        self.crt_around_PER = crt_data[4].find_all('dd')[1].text   #업종 PER
        self.crt_PBR = float(crt_data[6].find_all('dd')[1].text)
        self.crt_price = int(html.find('span',{'id' : 'svdMainChartTxt11'}).text.replace(',',''))
        self.name = html.find('h1',{'id':'giName'}).text
        
        date_col = table.find_all('tr')[1].find_all('th')[:5]
        date_col=list(i.text for i in date_col) #dataframe의 column

        j = table.find_all('td',{'class','r'})
        tr = table.find_all('tr')[18:]
        self.df = pd.DataFrame()
        
    
        for i in tr:        #테이블 항목 가져오기
            category = i.find('span',{'class':'txt_acd'})
            if(category==None):
                category=i.find('th')
            category = category.text.strip()
            value_list = []
            j = i.find_all('td',{'class','r'})[:5]
        
            for value in j:
                temp = value.text.replace(',','').strip()
                try:
                    temp = float(temp)
                    value_list.append(temp)
                except:
                    value_list.append(0)
                data = {category:value_list}
                data = pd.DataFrame(data)
            self.df = pd.concat([self.df,data],axis=1)

        self.df.index=date_col
        return self.df
    
    def get_excel_high_dividend(self):    #고배당주 엑셀 read
        load_wb = load_workbook("stock_div.xlsx", data_only=True)
        load_ws = load_wb['Sheet1']
        row_num = 0
        jcode=[]
        for row in load_ws.rows:
            row_num+=1
            if row_num==1:
                continue
            elif row_num==100:   #100개만
                break
            jcode.append(row[2].value)
        return jcode

    def get_excel_siga_top(self):  #시가총액 엑셀 read
        load_wb = open('siga.csv','r',encoding='utf-8')
        load_ws = csv.reader(load_wb)
        row_num = 0
        jcode=[]
        for row in load_ws:
            row_num+=1
            if row_num==1:
                continue
            jcode.append(row[1])
        return jcode
        
        
        
    def df_extension(self):       #데이터테이블 확장(2025년까지)
        for i in range(6):
            self.ROE_mean = self.df['ROE'].mean()
            new_eps = self.df['BPS'][-1]*self.ROE_mean/100
            new_bps = new_eps + self.df['BPS'][-1]
            PER = self.df['PER'][-1]
            PBR = self.df['PBR'][-1]
            stock_ret = self.df['배당수익률'][-1]
            self.df.loc['202'+str(i)+'/12'] = [self.df['ROA'].mean(),self.ROE_mean,new_eps,new_bps, np.nan, PER, PBR, np.nan, stock_ret]
        return self.df
    
    def report(self):
        self.new_price = int(self.df['BPS'][-1]/((1.15)**5))

        self.all_datas = pd.DataFrame(index = ['종목이름','종목코드','평균ROE','PER','업종PER','현재가치','주가','평가'],
                         data = [self.name,self.jcode,self.ROE_mean,self.crt_PER,self.crt_around_PER,self.new_price,self.crt_price,\
                                 '적합' if self.new_price>=1.5*self.crt_price else '부적합']).T
        return self.all_datas
        
    
if __name__=="__main__":
    print("주식종목 가치 평가 프로그램입니다.\n")
    se_func = stock_evaluation()
    ch1 = input("1. 개별주식종목 조회, 2.고배당주 top100 3.시가총액 상위 100개 기업 \n")
    report_df = pd.DataFrame()
    
    if(ch1=='1'):
        while(True):
            jcode = input("종목코드를 입력하세요 : ")
            se_func.get_html(jcode)   
            se_func.df_extension() 
            se_func.report()
            report_df = pd.concat([report_df,se_func.all_datas],axis=0)
            report_df.reset_index(drop=True,inplace=True)
            display(report_df)
            ch2 = input("계속 조회하려면 Y, else N")
            if(ch2=='n' or ch2=='N'):
                break
            elif(ch2=='Y' or ch2=='y'):
                continue
            else:
                print("key error")
                break
                
    elif(ch1=='2'):
        for i in range(200): #100개만 조회
            try:
                se_func.get_html(se_func.get_excel_high_dividend()[i])   
                se_func.df_extension() 
                se_func.report()
                report_df = pd.concat([report_df,se_func.all_datas],axis=0)
                report_df.reset_index(drop=True,inplace=True)
            except:
                pass
        display(report_df)
    elif(ch1=='3'):
        for i in range(1000) : #100개만 조회
            try:
                se_func.get_html(se_func.get_excel_siga_top()[i])
                se_func.df_extension()
                se_func.report()
                report_df = pd.concat([report_df, se_func.all_datas], axis=0)
                report_df.reset_index(drop=True, inplace=True)
            except:
                pass
        display(report_df)

주식종목 가치 평가 프로그램입니다.

1. 개별주식종목 조회, 2.고배당주 top100 3.시가총액 상위 100개 기업
1
종목코드를 입력하세요 : 094850

    종목이름    종목코드   평균ROE   PER 업종PER  현재가치    주가  평가
0  참좋은여행  094850  15.622  3.39     -  8755  5550  적합

계속 조회하려면 Y, else Ny
종목코드를 입력하세요 : 002350

    종목이름    종목코드   평균ROE   PER  업종PER   현재가치    주가  평가
0  참좋은여행  094850  15.622  3.39      -   8755  5550  적합
1  넥센타이어  002350  10.758  4.92  47.92  13720  5580  적합

In [4]:
for i in range(len(report_df)):
    if report_df.loc[i]['평가']=='적합' and report_df.loc[i]['PER']<report_df.loc[i]['업종PER']:
        display(pd.DataFrame(report_df.iloc[i]).T)

       # [0],report_df.loc[i][1], report_df.loc[i][2], report_df.loc[i][3], report_df.loc[i][4],report_df.loc[i][5],\
        #     report_df.loc[i][6]

   종목이름    종목코드   평균ROE    PER 업종PER    현재가치      주가  평가
16   SK  034730  21.648  20.82  7.05  420197  210500  적합

    종목이름    종목코드  평균ROE   PER 업종PER   현재가치     주가  평가
18  KB금융  105560  8.226  4.69  7.05  76220  37150  적합

    종목이름    종목코드  평균ROE   PER 업종PER   현재가치     주가  평가
19  신한지주  055550  8.856  4.06  7.05  66924  28450  적합

      종목이름    종목코드 평균ROE   PER 업종PER   현재가치     주가  평가
30  하나금융지주  086790  7.32  3.54  7.05  71914  28200  적합

      종목이름    종목코드 평균ROE   PER 업종PER   현재가치    주가  평가
37  우리금융지주  316140     0  3.11  7.05  14806  8390  적합

    종목이름    종목코드  평균ROE   PER 업종PER   현재가치    주가  평가
41  기업은행  024110  7.506  3.42  3.76  25764  8180  적합

   종목이름    종목코드 평균ROE   PER 업종PER   현재가치     주가  평가
70   GS  078930  10.2  5.81  7.05  83479  33350  적합

    종목이름    종목코드 평균ROE PER 업종PER   현재가치     주가  평가
71  롯데지주  004990  2.86   -  7.05  48079  30100  적합

    종목이름    종목코드   평균ROE    PER  업종PER     현재가치      주가  평가
94  펄어비스  263750  92.666  16.62  57.95  1194509  201400  적합

      종목이름    종목코드   평균ROE   PER 업종PER  현재가치    주가  평가
103  메리츠증권  008560  15.716  4.08  6.54  6814  3220  적합

     종목이름    종목코드  평균ROE PER  업종PER    현재가치     주가  평가
109  롯데쇼핑  023530 -2.968   -  26.29  156216  78100  적합

        종목이름    종목코드  평균ROE   PER 업종PER   현재가치    주가  평가
131  BNK금융지주  138930  7.356  2.95  7.05  19345  5090  적합

    종목이름    종목코드  평균ROE    PER 업종PER    현재가치     주가  평가
151   효성  004800  30.58  15.81  7.05  287122  77800  적합

        종목이름    종목코드   평균ROE   PER 업종PER   현재가치    주가  평가
179  메리츠금융지주  138040  15.548  3.27  7.05  23583  9300  적합

       종목이름    종목코드  평균ROE   PER 업종PER   현재가치    주가  평가
214  JB금융지주  175330  7.818  2.68  7.05  13818  4650  적합

        종목이름    종목코드  평균ROE   PER 업종PER   현재가치    주가  평가
218  DGB금융지주  139130  8.348  2.79  7.05  21955  5400  적합

       종목이름    종목코드  평균ROE    PER 업종PER   현재가치     주가  평가
244  오리온홀딩스  001800  23.94  16.57  7.05  55742  12800  적합

       종목이름    종목코드  평균ROE    PER  업종PER   현재가치    주가  평가
254  현대그린푸드  005440  5.842  13.77  26.29  12816  7720  적합

     종목이름    종목코드   평균ROE    PER  업종PER    현재가치      주가  평가
261  대한유화  006650  16.574  10.05  47.59  342117  164500  적합

      종목이름    종목코드  평균ROE    PER  업종PER    현재가치     주가  평가
266  현대홈쇼핑  057050  8.238  10.12  26.29  117942  72500  적합

       종목이름    종목코드  평균ROE PER  업종PER   현재가치     주가  평가
278  롯데하이마트  071840  3.896   -  26.29  50907  30200  적합

     종목이름    종목코드   평균ROE   PER 업종PER   현재가치     주가  평가
304  대림건설  001880  24.504  4.17  6.04  55856  26100  적합

     종목이름    종목코드   평균ROE    PER  업종PER   현재가치    주가  평가
306  하림지주  003380  10.904  11.72  17.75  17378  6960  적합

    종목이름    종목코드   평균ROE   PER 업종PER   현재가치     주가  평가
307  HDC  012630  17.526  2.76  7.05  49518  11850  적합

    종목이름    종목코드    평균ROE PER  업종PER   현재가치    주가  평가
335  나노스  151910 -387.196   -  68.13  72536  4130  적합

      종목이름    종목코드   평균ROE   PER  업종PER   현재가치    주가  평가
367  넥센타이어  002350  10.758  4.61  47.59  13720  5230  적합

        종목이름    종목코드  평균ROE   PER 업종PER   현재가치     주가  평가
380  영원무역홀딩스  009970  9.182  4.51  7.05  85285  40000  적합

     종목이름    종목코드 평균ROE   PER 업종PER   현재가치    주가  평가
391  교보증권  030610  9.68  2.86  6.54  23245  6630  적합

       종목이름    종목코드   평균ROE   PER 업종PER  현재가치    주가  평가
398  한국토지신탁  034830  19.532  4.36  7.05  5201  1865  적합

    종목이름    종목코드   평균ROE    PER 업종PER    현재가치    주가  평가
435  BGF  027410  95.824  14.58  7.05  440183  4100  적합

       종목이름    종목코드   평균ROE   PER 업종PER  현재가치    주가  평가
445  한국자산신탁  123890  20.616  5.11  7.05  8329  3695  적합

      종목이름    종목코드   평균ROE    PER  업종PER   현재가치    주가  평가
457  원익홀딩스  030530  16.326  10.27  17.75  12422  4410  적합

       종목이름    종목코드   평균ROE    PER   업종PER    현재가치     주가  평가
469  휴온스글로벌  084110  50.788  14.56  233.35  195792  33850  적합

        종목이름    종목코드  평균ROE PER  업종PER    현재가치     주가  평가
471  제일파마홀딩스  002620  43.69   -  53.87  108733  24350  적합

      종목이름    종목코드  평균ROE    PER 업종PER    현재가치     주가  평가
473  농심홀딩스  072710  6.042  10.03  7.05  140336  79100  적합

      종목이름    종목코드   평균ROE    PER   업종PER   현재가치     주가  평가
480  에이피티씨  089970  89.812  20.60  233.35  69545  12550  적합

       종목이름    종목코드  평균ROE PER  업종PER  현재가치    주가  평가
528  한화손해보험  000370  8.368   -  10.10  9786  2810  적합

    종목이름    종목코드  평균ROE   PER  업종PER   현재가치    주가  평가
529  상상인  038540  34.97  2.61  57.95  28944  5890  적합

     종목이름    종목코드  평균ROE    PER   업종PER  현재가치    주가  평가
533  유진기업  023410  6.058  16.66  233.35  7268  4285  적합

    종목이름    종목코드   평균ROE   PER 업종PER   현재가치     주가  평가
546  케이씨  029460  27.956  6.65  9.12  74112  24750  적합

       종목이름    종목코드  평균ROE PER  업종PER  현재가치    주가  평가
548  LG헬로비전  037560  1.214   -  53.87  6565  3850  적합

      종목이름    종목코드  평균ROE   PER 업종PER   현재가치     주가  평가
564  한라홀딩스  060980  5.452  7.04  7.05  57846  27600  적합

      종목이름    종목코드  평균ROE   PER 업종PER   현재가치     주가  평가
577  현대차증권  001500  6.488  4.32  6.54  18504  10050  적합

    종목이름    종목코드   평균ROE PER  업종PER  현재가치    주가  평가
582   동양  001520  19.664   -  27.26  5786  1160  적합

     종목이름    종목코드  평균ROE    PER  업종PER    현재가치      주가  평가
593  대한제분  001130  5.246  16.26  30.35  305169  163500  적합

      종목이름    종목코드   평균ROE    PER  업종PER    현재가치     주가  평가
596  한일홀딩스  003300  11.038  20.94  27.26  155603  48250  적합

         종목이름    종목코드   평균ROE PER   업종PER   현재가치    주가  평가
615  골프존뉴딘홀딩스  121440  31.322   -  297.35  26802  5620  적합

    종목이름    종목코드 평균ROE PER  업종PER   현재가치     주가  평가
617   E1  017940  1.75   -  26.29  93725  48850  적합

       종목이름    종목코드 평균ROE   PER 업종PER   현재가치     주가  평가
635  S&T홀딩스  036530   4.1  3.91  7.05  30335  15000  적합

     종목이름    종목코드  평균ROE   PER 업종PER   현재가치     주가  평가
637  계룡건설  013580  13.98  2.94  6.04  56020  23550  적합

     종목이름    종목코드  평균ROE    PER  업종PER   현재가치     주가  평가
674  신도리코  029530  2.884  16.49  22.91  51570  23700  적합

      종목이름    종목코드   평균ROE    PER  업종PER   현재가치     주가  평가
701  엠케이전자  033160  27.058  31.29  68.13  29967  10150  적합

    종목이름    종목코드  평균ROE   PER  업종PER   현재가치    주가  평가
735   넥센  005720  9.224  3.69  47.59  15309  3830  적합

     종목이름    종목코드  평균ROE    PER  업종PER  현재가치    주가  평가
755  한국철강  104700  2.458  11.84  12.66  9056  4905  적합

       종목이름    종목코드  평균ROE    PER 업종PER   현재가치     주가  평가
758  예스코홀딩스  015360  1.814  10.80  7.05  55272  35400  적합

     종목이름    종목코드  평균ROE    PER  업종PER  현재가치    주가  평가
796  대원강업  000430  5.064  12.94  17.93  5211  3345  적합

       종목이름    종목코드  평균ROE    PER   업종PER   현재가치     주가  평가
823  하이록코리아  013030  8.254  13.52  233.35  20073  12800  적합

       종목이름    종목코드   평균ROE PER  업종PER    현재가치    주가  평가
829  APS홀딩스  054620  74.582   -  17.75  158998  8890  적합

     종목이름    종목코드   평균ROE   PER 업종PER   현재가치     주가  평가
839  한신공영  004960  20.172  2.29  6.04  65424  14250  적합

       종목이름    종목코드  평균ROE PER 업종PER    현재가치     주가  평가
841  세아제강지주  003030  7.996   -  7.05  184044  49000  적합

     종목이름    종목코드  평균ROE    PER 업종PER   현재가치     주가  평가
880  화성산업  002460  9.846  19.88  6.04  26240  12250  적합

       종목이름    종목코드 평균ROE    PER  업종PER   현재가치    주가  평가
888  S&T중공업  003570  0.46  10.91  17.93  10363  5460  적합

    종목이름    종목코드 평균ROE   PER  업종PER    현재가치     주가  평가
903  아세아  002030  5.31  3.65  53.87  242236  80400  적합

     종목이름    종목코드  평균ROE    PER  업종PER    현재가치     주가  평가
910  일신방직  003200  2.458  24.90  40.68  171095  73200  적합

       종목이름    종목코드 평균ROE   PER 업종PER  현재가치    주가  평가
913  DB금융투자  016610  3.05  3.30  6.54  9920  3770  적합

     종목이름    종목코드 평균ROE    PER  업종PER   현재가치    주가  평가
914  삼영전자  005680  2.61  19.62  22.91  14054  8390  적합

        종목이름    종목코드  평균ROE   PER 업종PER  현재가치    주가  평가
917  KTB투자증권  030210  7.948  3.75  6.54  6370  2660  적합

       종목이름    종목코드 평균ROE    PER  업종PER  현재가치    주가  평가
918  SIMPAC  009160  8.43  16.69  53.41  5642  2420  적합

       종목이름    종목코드  평균ROE   PER  업종PER  현재가치    주가  평가
946  AJ네트웍스  095570  6.938  3.22  53.87  5057  3160  적합

In [7]:
abc = stock_evaluation()
abc.get_html('060310')
abc.df_extension()
abc.report()

  종목이름    종목코드  평균ROE PER   업종PER 현재가치    주가   평가
0   3S  060310 -8.126   -  230.40  222  2265  부적합

In [50]:
se_func.get_html(se_func.get_excel_siga_top()[99])
se_func.df_extension()
se_func.report()
report_df = pd.concat([report_df, se_func.all_datas], axis=0)
report_df.reset_index(drop=True, inplace=True)
report_df

   종목이름    종목코드   평균ROE    PER  업종PER     현재가치      주가  평가
0  펄어비스  263750  92.666  15.24  45.03  1194509  184700  적합

In [14]:
url = 'http://comp.fnguide.com/SVO2/ASP/SVD_main.asp?pGB=1&gicode=A123890'
html = urlopen(url).read()
html = bs4.BeautifulSoup(html,'lxml')
table = html.find('div',{'id':'highlight_D_Y'})
crt_data = html.find('div',{'id':'corp_group2'}).find_all('dl')
PBR = crt_data[6].find_all('dd')
PBR[1].text

'0.56'